.howToPlay {
  display: flex;
  flex-direction: column;
  @import "./howtoplaytitle.scss";
  .bubbles {
    padding-top: 6%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @import "./infoBubble.scss";
  }
}
