.info__bubble {
  padding: 20px;
  display: flex;
  width: fit-content;
  flex-direction: column;
  .bubble {
    border-radius: 100%;
    width: 150px;
    height: 150px;
    background-color: $secondaryColor;
    align-self: center;
    .logo {
      width: inherit;
      height: inherit;
      display: flex;
      justify-content: center;
      .logo__img {
        width: calc(100% - 50px);
        height: calc(100% - 50px);
        align-self: center;
      }
    }
  }
  .caption {
    display: flex;
    flex-direction: column;
    padding: 15px;
    font-size: larger;
    .caption__text {
      color: white;
    }
    .caption__subtext {
      font-family: "Aquire", sans-serif;
      color: #0f0f0f;
      font-size: 15px;
      font-weight: bold;
    }
  }
}
