.status__container {
  background-color: $darkBackgroundColor;
  padding: 30px;
  .status {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    .state {
      display: flex;
      flex-direction: column;
      min-width: 120px;
      max-width: 120px;
      .number {
        font-family: "Aquire";
        font-size: 30px;
        color: $secondaryColor;
        position: relative;
        text-align: center;
        border-radius: 30px;
        &:hover {
          &:before {
            height: 0;
          }
        }
        &:before {
          transition: height 1s ease;
          content: attr(data-text);
          position: absolute;
          overflow: hidden;
          height: 40px;
          color: white;
          text-align: center;
          top: 0;
        }
      }
      .indicator {
        text-align: center;
        font-size: 25px;
        font-family: "Aquire";
        color: $greyColor;
      }
    }
  }
}
