.status__container {
  background-color: $darkBackgroundColor;
  padding: 30px;
  .status {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    .state {
      display: flex;
      flex-direction: column;
      width: fit-content;
      max-width: 120px;
      min-width: 120px;
      .number {
        font-family: umbrage;
        font-size: 30px;
        color: white;
        position: relative;
        text-align: center;
        border-radius: 30px;
        &:hover {
          box-shadow: 0 0 20px 10px rgba(230, 30, 10, 0.6);
        }
      }
      .indicator {
        text-align: center;
        font-size: 35px;
        font-family: umbrage;
        color: $greyColor;
      }
    }
  }
}
