@import "./variables.scss";

* {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  letter-spacing: 0.2px;
  line-height: 150%;
  word-spacing: 0.16px;
}

html,
body {
  background-color: $backgroundColor;
  overflow-x: hidden;
}

a {
  color: white;
  text-align: center;
  text-decoration: none;
}

.page-container {
  max-width: 1170px;
  padding: 0px;
}

.animate {
  animation: fadeFromBottom 1s ease-in-out;
}

.add-pointer {
  cursor: pointer;
}

.react-icon {
  font-size: 18px;
  color: white;
  // margin-right: 15px;
}

.icon-margin {
  margin-right: 15px;
}

.react-icon--dark {
  color: $darkBackgroundColor !important;
}

.card-divider {
  border: solid 1px $greyColor;
}
.header {
  margin-bottom: 25px;
  .title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
  }
  .subtitle {
    text-align: center;
    font-family: "Aquire";
    color: $secondaryColor;
  }
}
::-webkit-scrollbar {
  display: none;
}
